*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.model-container{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 2s;    
}

.box--hidden {
    opacity: 0;
  }


.model{
    border-radius: 5px;
    padding: 2rem;
    background-color: rgb(254, 254, 254);
    width: 25em;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.form-group input,
.form-group select{
    border: 1px solid black;
    border-radius: 0.3rem;
    padding:0.3rem;
    font-size: 1rem;
}
.form-group label{
    margin-bottom: 0.2rem;
}
.closeIcon{
    color:red;
    cursor: pointer;  
}
.close{
    display: flex;
    align-items: right;
    justify-content: right;
}

.footer{
    background-color: #333;
    width: 100%;
    height: 50%;
    color: white;
}
  .navv{
    position: fixed;
    z-index: 1;
    width: 100%;
    margin-top: 0;
} 
.hidenav{
    display:none
} 
.footer2{
    height: 600px;
    width: 100%;
    background-color: #333;
}

.intro-section1{
    margin-bottom: 10px;
    position: absolute;
}
.contact-section1{
    margin-bottom: 10px;
    /*z-index: auto;*/
    top: 5px;

}
@media screen and(max-width:768px){
    .nav{
        width: 100%;
    }
}
.contactsect{
    background-color: rgb(240, 240, 245);
    padding-top: 20px;
    padding-bottom: 20px;
}
.mymap{
    height:600px;
}
