.about{
    height: 10%;
    background-color: rgb(5, 5, 119);
    
}
.about h2{
    color: white; 
    font-size: 30px;
    font-family: 'verdana sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
}