
/* Basic styling */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:#00828c;
  color: rgba(255, 255, 255, 0.982);
}
.sitetitle {
  font-size: 1.5rem;
  color:white;
  list-style: none;
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}

.alink {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.active {
  font-weight: bold;
}

.mobile {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.dehazeicon {
  color: white;
}

@media (max-width: 768px) {
  .links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgb(17, 17, 100);
    flex-direction: column;
    width: 100%;
    transform: translateY(-10%);
    transition: height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    display: none; /* Hidden by default */
  }

  .links.mobile {
    display: flex; /* Show menu on small screens */
    transform: translateY(0);
  }

  .mobile {
    display: block; /* Show hamburger icon on small screens */
  }
  .nav{
    padding-right: 50px;
    height: 100px;
  }
}


