.slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 70px;
}

.slide {
  display: none;
  width: 100%;
  height: 100%;
}

.slide.current {
  display: block;
  animation: fade 1s ease-in-out;
}

.image {
  width: 100%;
  height: auto;
  max-height: 800px; /* adjust as needed */
  object-fit: cover;  /* makes image cover the container without distortion */
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

@keyframes slideInFromBottomRight {
  0% {
    transform: translate(100%, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 50%);
    opacity: 1;
  }
}

.content {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(0, 50%);
  animation: slideInFromBottomRight 2s ease-in-out forwards;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  max-width: 300px;
  border-radius: 10px;
}

/* @keyframes fade {
  from { opacity: 0.5; }
  to { opacity: 1; }
} */
