.kibyagiraDashboard {
    font-size: 24px; /* Adjust font size */
    font-weight: bold;
    text-align: center; /* Center the text */
    margin-bottom: 20px; /* Space between text and the form */
    color: #333; /* Adjust color if needed */
    margin-top: 80px
}


