.passwordreset_form_group div{
    /* background-color: aqua;  */
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10px; 
}
.passwordreset_form_group div input{
    width: 100%;
    padding: 5px 5px;
    position:absolute;
    padding-left: 40px;
   
}
.iconbtn{    
    z-index: 1;
    top: 50%;
    right: 0;
}
.back_btn {
  margin-top: 15px;
  background-color: transparent;
  color: #007bff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.2s ease-in-out;
}

.back_btn:hover {
  color: #0056b3;
}
